<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP2.Properties.Settings.BD5B6TP2_JouaniquePerreaultConnectionString"
            connectionString="Data Source=sqlinfo.cgodin.qc.ca;Initial Catalog=BD5B6TP2_JouaniquePerreault;User ID=5B6Jouanique;Password=Password2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>